{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

  <div class="blog-entry-wrapper">
            <!--
            <div class="blog-headline-bg">
            </div><!--//blog-headline-bg-->
            <div class="blog-entry">
                <article class="post post-style">
                    <header class="blog-entry-heading" style="background: #253340 url({{image}}) no-repeat 50% center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                        <div class="container text-center">
                            <h2 class="title">{{title}}</h2>
                            <div class="meta">
                                <ul class="meta-list list-inline">
                                    <li class="post-time">{{date format="DD MMMM YYYY"}}</li>
                                    <li class="post-author"> por <a href="blog-single.html#">{{author}}</a></li>
                                </ul><!--//meta-list-->
                            </div><!--meta-->
                        </div><!--//container-->
                        <nav class="post-nav post-nav-top">
                            <span class="nav-previous"><a href="/blog/" rel="prev"><i class="fa fa-long-arrow-left"></i>Voltar ao blog</a></span>

                        </nav><!--//post-nav-->
                    </header><!--//blog-entry-heading-->

                    <div class="container">
                        <div class="row">
                            <div class="blog-entry-content col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                              {{content}}
                            </div><!--//blog-entry-content-->

                            <!--//Soical media buttons: https://github.com/kni-labs/rrssb (More examples) -->




                        </div><!--//row-->
                    </div><!--//container-->
                </article><!--//post-->
            </div><!--//blog-entry-->
        </div><!--//blog-entry-wrapper-->
<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
